<!DOCTYPE html>
<html>
	<head>
		<% include ../../partials/head %>
	</head>
	<body>
		<header>
			<h1>Edit <%=task.title%>'s Info</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/tasks">Tasks Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main class="form-style-9">
			<h2>Task Attributes:</h2>
			<form action="/tasks/<%=task._id%>?_method=PUT" method="post">
				<input type="text" name="title" placeholder="Task Title" value="<%=currentUser.username%>"/><br>
				<input type="text" name="title" placeholder="Task Title" value="<%=task.title%>"/><br>
				<textarea name="desc" placeholder="Task Description"><%=task.desc%></textarea><br/>
				<input type="text" name="location" placeholder="Location" value="<%=task.location%>"/><br>
				<input type="text" name="points" placeholder="Points Value" value="<%=task.points%>"/><br>
				<input type="text" name="taskImg" placeholder="Image URL" value="<%=task.taskImg%>"/><br>
				<input type="submit" value="Update Task"/>
			</form>
		</main>
	</body>
	<footer>
		<% include ../../partials/head %>
	</footer>
</html>
