<!DOCTYPE html>
<html>
	<head>
		<% include ../../partials/head %>
	</head>
	<div class="headerChick">
		<img class="chicklets" src="/img/home.png"></img><span class="pipe2">|</span>
		<img class="chicklets picSize" src="/img/email.png"></img><span class="pipe2">|</span>
		<img class="chicklets" src="/img/share.png"></img><span class="pipe2">|</span>
		<img class="chicklets" src="/img/rss.png"></img><span class="pipe2">|</span>
		<img class="chicklets" src="/img/chat.png"></img><span class="pipe2">|</span>
		<img class="chicklets picSize3" src="/img/donate.png"></img><span class="pipe2">|</span>
		<img class="chicklets picSize3" src="/img/ideas.png"></img>
	</div>
	<header>
		<div class="subheader">
			<img class="picLogo2" src="/img/SWMLogo.png"></img>
			<h2>Activity</h2>
			<small id="byLine">Sponsored By: <a href="/users/<%=currentUser._id%>"><%=currentUser.name%></a></small>
	</header>
	<body  class="container">
		<main>
			<div class="menuPage2">
				<% if(currentUser === undefined){%>
					<a class="menuLinks" href="/">HOME</a> <span class="pipe">|</span>
					<a class="menuLinks" href="/">FOUNDATION</a> <span class="pipe">|</span>
					<a class="menuLinks" href="/">GALLERY</a> <span class="pipe">|</span>
					<a class="menuLinks" href="/">DONATE</a>
				<%}%>

				<% if(currentUser){ %>
					 <a class="menuLinks" href="/">HOME</a> <span class="pipe">|</span>
					 <a class="menuLinks"href="/tasks">ACTIVITIES</a> <span class="pipe">|</span>
					 <a class="menuLinks"href="/users">MEMBERS</a>
					 </form>
				<% } %>
			</div>

			<div class="form-style-9">
				<div class="userPic">
					<li><img class="taskProfile" src="<%=task.taskImg%>"></img></li>
				</div>
				<h2>Volunteer Activity Information:</h2>
				<ul>
					<h5><li>Title: <%=task.title%>
					Points Value: <%=task.points%></li>
					<li>Location: <%=task.location%></li>
					<li>Description: <font size="3"><%=task.description%></font></li></h5>
				</ul>
				<% if(currentUser === undefined || currentUser.username !== user.username){ %>
					<section>
					  <a id="createUser" href="/">Log In or Register to Become a Member</a><br/>
				 	</section>
				<% } else if (currentUser){ %>
					<section>
				    	<li id="createUser">
							<form action="/tasks/<%=task._id%>?_method=DELETE" method="post">
				        		<input type="submit" value="DELETE ACTIVITY"/>
				    		</form>
					   	<button>
								<a class="fontSize" id="editUser"href="/tasks/<%=task._id%>/edit">EDIT ACITIVITY</a>
							</button>
						</li>
					</section>
				<% } %>
			</div>
		</main>
		<div class="spacer"></div>
	</body>
	<footer>
		<% include ../../partials/footer %>
	</footer>
</html>
