<!DOCTYPE html>
<html>
	<head>
		<% include ../../partials/head %>
	</head>
	<body>
		<header>
			<h1><%=task.title%></h1>
			<img src="<%=task.taskImg%>"></img><br>
			<small>by: <a href="/users/<%=currentUser._id%>"><%=currentUser.name%></a></small>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/tasks">Tasks Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<section>
				<%=task.body%>
			</section>
			<section>
			    <form action="/tasks/<%=task._id%>?_method=DELETE" method="post">
			        <input type="submit" value="DELETE ACTIVITY"/>
			    </form>
			</section>
			<section>
			    <a class="fontSize" href="/tasks/<%=task._id%>/edit">EDIT ACITIVITY</a>
			</section>
		</main>
	</body>
	<footer>
		<% include ../../partials/footer %>
	</footer>
</html>
