<!DOCTYPE html>
<html>
	<head>
		<% include ../../partials/head %>
	</head>
	<div class="headerChick">
		<img class="chicklets" src="/img/home.png"></img><span class="pipe2">|</span>
		<img class="chicklets picSize" src="/img/email.png"></img><span class="pipe2">|</span>
		<img class="chicklets" src="/img/share.png"></img><span class="pipe2">|</span>
		<img class="chicklets" src="/img/rss.png"></img><span class="pipe2">|</span>
		<img class="chicklets" src="/img/chat.png"></img><span class="pipe2">|</span>
		<img class="chicklets picSize3" src="/img/donate.png"></img><span class="pipe2">|</span>
		<img class="chicklets picSize3" src="/img/ideas.png"></img>
	</div>
	<header>
		<div class="subheader">
			<img class="picLogo2" src="/img/SWMLogo.png"></img>
			<h1>Edit <%=user.name%>'s Info</h1>
		</div>
	</header>
	<body>
		<div class="menuPage2">
			<% if(currentUser === undefined){%>
				<a class="menuLinks" href="/">HOME</a> <span class="pipe">|</span>
				<a class="menuLinks" href="/">FOUNDATION</a> <span class="pipe">|</span>
				<a class="menuLinks" href="/">GALLERY</a> <span class="pipe">|</span>
				<a class="menuLinks" href="/">DONATE</a>
			<%}%>

			<% if(currentUser){ %>
				 <a class="menuLinks" href="/">HOME</a> <span class="pipe">|</span>
				 <a class="menuLinks"href="/tasks">ACTIVITIES</a> <span class="pipe">|</span>
				 <a class="menuLinks"href="/users">MEMBERS</a> 
			<% } %>
		</div>
		<main>
			<form class="form-style-9" action="/users/<%=user._id%>?_method=PUT" method="post">
				<h2> Edit My Profile:</h2>
				<ul>
					<li><input class="field-style field-split align-left" type="text" name="name" placeholder="First and Last Name" value="<%=user.name%>"/>
					<input class="field-style field-split align-right" type="text" name="email" placeholder="Email" value="<%=user.email%>"/></li>
					<li><input class="field-style field-split align-left"  type="text" name="parent" placeholder="Parent or Guardian" value="<%=user.parent%>"/>
					<input class="field-style field-split align-right" type="text" name="age" placeholder="Age" value="<%=user.age%>"/></li>
					<li><input class="field-style field-full align-none" type="text" name="school" placeholder="Current School" value="<%=user.school%>"/></li>
					<li><input class="field-style field-full align-none" type="text" name="location" placeholder="Location" value="<%=user.location%>"/></li>
					<li><input class="field-style field-full align-none" type="text" name="userImg" placeholder="Image URL" value="<%=user.userImg%>"/></li>
					<li id="createUser"><input type="submit" value="UPDATE USER"/></li>
				</ul>
			</form>
		</main>
		<div class="spacer"></div>
	</body>
	<footer>
		<% include ../../partials/footer %>
	</footer>
</html>
