<!DOCTYPE html>
<html>
	<head>
		<% include ../../partials/head %>
	</head>
	<header>
		<div class="subheader">
			<img class="picLogo2" src="/img/SWMLogo.png"></img>
			<h1>Profile for <%=currentUser.name%></h1>
			<div class="menuPage2">
				<% if(currentUser === undefined){%>
					<a class="menuLinks" href="/">HOME</a> <span class="pipe">|</span>
					<a class="menuLinks" href="/">FOUNDATION</a> <span class="pipe">|</span>
					<a class="menuLinks" href="/">GALLERY</a> <span class="pipe">|</span>
					<a class="menuLinks" href="/">DONATE</a>
				<%}%>

				<% if(currentUser){ %>
					 <a class="menuLinks" href="/">HOME</a> <span class="pipe">|</span>
					 <a class="menuLinks"href="/tasks">TASKS</a> <span class="pipe">|</span>
					 <a class="menuLinks"href="/users">USER</a> <span class="pipe">|</span>
					 <a class="menuLinks"href="/">POINTS METER</a>
					 </form>
				<% } %>
			</div>
		</div>
	</header>
	<body>
		<main class="form-style-9">
			<section>
			<li><img class="userProfile" src="<%=currentUser.userImg%>"></img></li>
			</section>
			<section>
				<h2>Volunteer Activites Sponsored By: <%=currentUser.name%></h2>
				<ul>
					<% for(var i = 0; i < currentUser.tasks.length; i++){ %>
						<li><h3><a href="/tasks/<%=currentUser.tasks[i]._id%>"><%=currentUser.tasks[i].title%></a></h3></li>
					<% } %>
				</ul>
			</section>
         <section>

				<ul>
					<li>
						<button><a class="fontSize" id="editUser" href="/users/<%=currentUser._id%>/edit">EDIT USER</a>
						</button>
						<button><a class="fontSize" id="editUser" href="/tasks/new">CREATE NEW ACTIVITY</a></button>
					</li>
					<li id="createUser">
						<form action="/users/<%=currentUser._id%>?_method=DELETE" method="post">
							<input  type="submit" value="DELETE USER"/>
						</form>
					</li>
				</ul>
			</section>
		</main>
	</body>
	<footer>
		<% include ../../partials/footer %>
	</footer>
</html>
