<!DOCTYPE html>
<html>
	<head>
		<% include ../../partials/head %>
	</head>
	<header>
		<div class="subheader">
		<h1>Profile for <%=currentUser.name%></h1>
			<div class="menu">
					<a class="menuLinks" href="/">HOME</a> <span class="pipe">|</span>
					<a class="menuLinks"href="/tasks">TASKS</a> <span class="pipe">|</span>
					<a class="menuLinks"href="/users">USER</a> <span class="pipe">|</span>
					<a class="menuLinks"href="/">POINTS METER</a>
			</div>
	</div>
	</header>
	<body>
		<main class="form-style-9">
			<section>
			<li><img class="userProfile"src="<%=currentUser.userImg%>"></img></li>
			</section>
			<section>
				<h2>Volunteer Activites Entered By: <%=currentUser.name%></h2>
				<ul>
					<% for(var i = 0; i < currentUser.tasks.length; i++){ %>
						<li><a href="/tasks/<%=currentUser.tasks[i]._id%>"><%=currentUser.tasks[i].title%></a></li>
					<% } %>
				</ul>
			</section>
         <section>
				<form action="/users/<%=currentUser._id%>?_method=DELETE" method="post">
					<ul >
						<li><input class="createUser" type="submit" value="DELETE USER"/>
					</ul>
				</form>
				<ul id="editUser">
					<button>
						<li><a class="fontSize" id="editUser" href="/users/<%=currentUser._id%>/edit">EDIT USER</a>
					</button></li>
				</ul><ul id="editUser">
					<li><button><a class="fontSize" href="/tasks/new">CREATE NEW ACTIVITY</a></button></li>
				</ul>
			</section>
		</main>
	</body>
	<footer>
		<% include ../../partials/footer %>
	</footer>
</html>
