<!DOCTYPE html>
<html>
	<head>
		<% include ../../partials/head %>
	</head>
	<header>
		<div class="subheader">
		<h1>Profile for <%=currentUser.name%></h1>
			<div class="menu">
					<a class="menuLinks" href="/">HOME</a> <span class="pipe">|</span>
					<a class="menuLinks"href="/tasks">TASKS</a> <span class="pipe">|</span>
					<a class="menuLinks"href="/users">USER</a> <span class="pipe">|</span>
					<a class="menuLinks"href="/">POINTS METER</a>
			</div>
	</div>
	</header>
	<body>
		<main class="form-style-9">
			<section>
				<h2>My Profile:</h2>
				<img src="<%=currentUser.userImg%>"/></img><br>
				<ul>
					<li>Name: <%=currentUser.name%></li>
				</ul>
			</section>
			<section>
				<h2>Tasks Entered By: <%=currentUser.name%></h2>
				<ul>
					<% for(var i = 0; i < currentUser.tasks.length; i++){ %>
						<li><a href="/tasks/<%=currentUser.tasks[i]._id%>"><%=currentUser.tasks[i].title%></a></li>
					<% } %>
				</ul>
			</section>
            <section>
				<form action="/users/<%=currentUser._id%>?_method=DELETE" method="post">
					<ul >
						<li><input type="submit" value="Delete User"/>
						<button><a id="editUser" href="/users/<%=currentUser._id%>/edit">Edit</a></button></li>
					</ul>
				</form>
			</section>
		</main>
	</body>
	<footer>
		<% include ../../partials/footer %>
	</footer>
</html>
